<script th:inline="javascript">
    /*<![CDATA[*/
    var paging = new Pagination();
    $(document).ready(function() {
        $("#modalCreate").on("show.bs.modal", function() {
            configFormInput();
            validateFormInput();
        });

        $("#modalCreate").on("shown.bs.modal", function() {
            $('#medicine_code').focus();
        });

        $("#modalCreate").on("hidden.bs.modal", function() {
            resetFormModal();
        });
        registerEvents();
        loadListMedicine();

    });

    function openAddModal() {
        $("#modalCreate").modal({
            backdrop : 'static',
            keyboard : false
        });
    }

    var loadListMedicine = function() {
        paging.reset();
        loadListPagingMedicine();
    };

    function loadListPagingMedicine() {
        var page = paging.currentPage()||1;
        var limit = paging.limit()||10;

        getRequest({
            url : "/medicine?page=" + page+"&limit="+limit,
            success : function(data) {
                cbLoadListPagingCatecory(data);
            },
            error : function(e) {

            }
        });
    }

    function search()
    {
        var name=$('#txt_name').val();

        var page = paging.currentPage() || 1;
        var limit = paging.limit()||10;

        getRequest({
            url : "/medicine/search?page=" + page+"&limit="+limit+"&name="+ name,
            success : function(data) {
                cbLoadListPagingCatecory(data);
            },
            error : function(e) {

            }
        });

    }

    function cbLoadListPagingCatecory(data) {
        paging.init('paging', loadListPagingMedicine, data);
        var id;
        var status;
        var list = data['content'] || [];
        if (list.length == 0) {
            $('#tbody_data')
                .html(
                    '<td colspan="100%" style="text-align: center">Không có dữ liệu</td>');
            return;
        }
        var html = '';
        var size = paging.size() || 10;
        var number = paging.currentPage() || 1;
        number -= 1;
        for (var i = 0; i < list.length; i++) {
            var item = list[i];
            id = item['id'];
            if (item['status']) {
                status = 'Yes'
            } else {
                status = 'No'
            }
            html += '<tr><td style="text-align: center">'
                + (i + 1 + (size * number)) + '</td><td>'
                + item['medicine_code']
                + '</td><td>'
                + item['name']
                + '</td><td>'
                + item['price']
                + '</td><td style="text-align: center"><button onclick="enableKey('+ id +')">'
                + status + '</button>'
                + '</td><td>'
                + item['description']
                + '</td><td style="text-align: center">'
                + '<a title="Sửa" class="btn-edit" data-id="' + item['id'] + '" style="margin-left: 10px;"><i class="fa fa-edit fa-action" aria-hidden="true"></i></a>'
                + '<a title="Xóa" class="btn-delete" data-id="' + item['id'] + '" style="margin-left: 10px;"><i class="fa fa-times fa-action" aria-hidden="true"></i></a></td>'
                + '</tr>';
        }
        $('#tbody_data').html(html);
    }

    function enableKey(id) {
        if (id == 0){
            return;
        }
        getRequest({
            url : "/medicine/"+id,
            success : function(data) {
                mapDataEnable(data);
            },
            error : function(e) {

            }
        });
    }

    function mapDataEnable(data) {
        //update user haven't md5 password
        var status;
        var id = data['id'];
        var name = data['name'];
        var medicine_code = data['medicine_code'];
        var price = data['price'];
        var description = data['description'];

        if (data['status']) {
            status = false
        } else {
            status = true
        }

        var data = {id: id, name: name, medicine_code: medicine_code, price: price, status: status, description: description};
        postRequest({
            data: data,
            url : "/medicine",
            success : function(data) {
                loadListPagingMedicine()
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }


    function save(flag) {
        var validated = $("#form-info").valid();
        if (!validated) {
            return;
        }
        var medicine_code = $('#medicine_code').val().trim();
        var medicine_name = $('#medicine_name').val().trim();
        var medicine_price = $('#medicine_price').val().trim();
        var medicine_description = $('#medicine_description').val().trim();
        var medicine_status = true;
        var id = $('#modal_hidden_id').val().trim();
        var data = {
            medicine_code : medicine_code,
            name : medicine_name,
            price: medicine_price,
            description: medicine_description,
            status: medicine_status
        };
        if (id) {
            data['id'] = id;
        }
        postRequest({
            data : data,
            url : "/medicine",
            success : function(data) {
                if (id || flag) {
                    closeForm();
                } else {
                    $('#medicine_code').focus();
                    $('#medicine_name').focus();
                    $('#medicine_price').focus();
                    $('#medicine_description').focus();
                    resetFormModal();
                }
                loadListMedicine();
                new Toast('success', 'Lưu thành công!');
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }

    function closeForm() {
        $('#modalCreate').modal('toggle');
    }

    function resetFormModal() {
        $('#medicine_code').val('');
        $('#medicine_name').val('');
        $('#medicine_price').val('');
        $('#medicine_description').val('');
        $('#modal_hidden_id').val('');
    }

    function validateFormInput() {
        $('#form-info').validate({
            ignore : [],
            errorElement : 'small',
            errorClass : 'data-invalid help-block',
            rules : {
                medicine_name: {
                    required : true,
                    maxlength : 50,
                    minlength : 2,
                },
                medicine_code : {
                    required : true,
                    maxlength : 20,
                    minlength : 2,
                    regex : '^[0-9a-zA-Z\.\-]+$',
                },
                medicine_price : {
                    required : true,
                    maxlength : 20,
                    minlength : 6,
                    regex : '^[0-9]+$',
                },
            },
            messages : {
                medicine_name : {
                    required : 'Tên thuốc không được để trống',
                    maxlength : 'Tên thuốc không được vượt quá 50 ký tự',
                    minlength : 'Tên thuốc không được dưới 6 ký tự',
                },
                medicine_code : {
                    required : 'Mã thuốc không được để trống',
                    maxlength : 'Mã thuốc không được vượt quá 20 ký tự',
                    minlength : 'Mã thuốc  không được dưới 2 ký tự',
                    regex : 'Mã thuốc chỉ chứa chữ cái, chữ số và dấu chấm'
                },
                medicine_price : {
                    required : 'Giá thuốc không được để trống',
                    maxlength : 'Giá thuốc không được vượt quá 20 ký tự',
                    minlength : 'Giá thuốc không được dưới 6 ký tự',
                    regex : 'Giá thuốc chỉ chứa chữ số'
                },
            }
        }).resetForm();
    }

    function registerEvents() {
        $('#tbody_data').on('click', '.btn-edit', viewEditMedicine);
        $('#tbody_data').on('click', '.btn-delete', deleteMedicine);

    };

    function deleteMedicine() {
        var id = $(this).attr('data-id') || 0;
        if (id == 0) {
            return;
        }
        dialogConfirm({
            callback : function() {
                deleteRequest({
                    url : "/medicine/" + id,
                    success : function(data) {
                        loadListMedicine();
                        new Toast('success', 'Xóa thành công!');
                    },
                    error : function(e) {
                        new Toast('error', e['message']);
                    }
                });
            }
        });
    }
    function viewEditMedicine() {
        var id = $(this).attr('data-id') || 0;
        if (id == 0) {
            return;
        }
        getRequest({
            url : "/medicine/" + id,
            success : function(data) {
                cbViewEditMedicine(data);
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }
    function cbViewEditMedicine(data) {
        $('#modal_hidden_id').val(data['id']);
        $('#medicine_name').val(data['name']);
        $('#medicine_code').val(data['medicine_code']);
        $('#medicine_price').val(data['price']);
        $('#medicine_description').val(data['description']);
        openAddModal();
    }

    function configFormInput() {
        var id = $('#modal_hidden_id').val().trim();
        if(id) {
            $('#btn_save_close').hide();
            $('.modal-title').html('Sửa thông tin thuốc');
        } else {
            $('#btn_save_close').show();
            $('.modal-title').html('Thêm mới thuốc');
        }
    }

    /*]]>*/
</script>