

<div id="modalViewDetail" class="modal fade" role="dialog ">
	<div class="modal-dialog" style="width: 60%;">
		Modal content
		<div class="modal-content">
			<div class="modal-header" style="border-bottom: 1px solid #efeaea">
				<!-- <button data-dismiss="modal" class="close" type="button">
					<i class="fa fa-times" style="color:red"></i> Đóng
				</button> -->
				<div class="uppercase">
					<div class="form-inline">
						<div class="col-sm-9">
							<h4 class="modal-title">Thông tin gói tin</h4>
						</div>
						<div class="col-sm-3">
							<h3>
							<button data-dismiss="modal" type="button" class="button_close" onclick="closeModalDetail()">
								<i class="fa fa-times" style="color: red"></i>
							</button>
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal" id="form-info" name="form-info"
							role="form" action="">
							<input type="hidden" id="modal_hidden_id" value="" />
							<div class="col-md-6">
								<div class="form-group col-sm-10">
									<label class="control-label col-sm-4">ID:</label>
									<label class="control-label col-sm-8" id="id_news"></label>
								</div>
								<div class="form-group col-sm-10">
									<label class="control-label col-sm-4">Mã đơn vị gửi:</label>
									<label class="control-label col-sm-8" id="id_unit_send"></label>
								</div>
								<div class="form-group col-sm-10">
									<label class="control-label col-sm-4">Tên đơn vị gửi:</label>
									<label class="control-label col-sm-8" id="name_unit_send"></label>
								</div>
								
							</div>
							<div class="col-md-6">
							
							<div class="form-group col-sm-10">
									<label class="control-label col-sm-4">Ngày gửi:</label>
									<label class="control-label col-sm-8" id="date_send"></label>
								</div>
								<div class="form-group col-sm-10">
									<label class="control-label col-sm-4">Loại tin:</label>
									<label class="control-label col-sm-8" id="news_type"></label>
								</div>
							</div>
								<input type="hidden" id="id_hidden_profile"/>
							<div class="col-md-12" style="padding-top: 5%">
								
							<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#frees_list">Danh
											sách đơn vị nhận gói tin</a></li>
									
								</ul>
								<div class="tab-content">
									<div id="frees_list" class="tab-pane fade in active">
										<div class="table-bt table-vb">
											<table
												class="table table-bordered table-striped table-condensed table-hover"
												style="width: 100%;" id="table_data">
												<thead>
													<tr>
														<th style="width: 5%">STT</th>
														<th style="width: 25%">Mã đơn vị nhận</th>
														<th style="width: 25%">Tên đơn vị</th>
														<th style="width: 15%">Trạng thái</th>
														<th style="width: 20%">Ngày nhận</th>
													</tr>
												</thead>
												<tbody id="tbody_data_receivers">
												</tbody>
											</table>
										</div>
										<div class="box-footer clearfix" id="paging_news_recever"></div>
									</div>
									</div>
									
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer" style="text-align: center"></div>
			</div>
		</div>
	</div>
</div>
<style>
.nav.nav-tabs
{
font-weight:bold;
}
.tab-content>div
{
margin-top:3%;
}
#form-info .control-label.col-sm-8
{
text-align:left;
color:#090238;
}
</style>

