

<div id="modalViewHistory" class="modal fade" role="dialog ">
	<div class="modal-dialog" style="width: 60%;">
		Modal content
		<div class="modal-content">
			<div class="modal-header" style="border-bottom: 1px solid #efeaea">
				<!-- <button data-dismiss="modal" class="close" type="button">
					<i class="fa fa-times" style="color:red"></i> Đóng
				</button> -->
				<div class="uppercase">
					<div class="form-inline">
						<div class="col-sm-9">
							<h4 class="modal-title"></h4>
						</div>
						<div class="col-sm-3">
							<h3>
								<button data-dismiss="modal" type="button"
									class="button_close" onclick="closeModalHistory()">
									<i class="fa fa-times" style="color: red"></i>
								</button>
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal" id="form-info-history"
							name="form-info-history" role="form" action="">
							<input type="hidden" id="modal_hidden_id_history" value="" />
							<div id="take_history">
								<div class="row" id="form-history-take">
									<form class="form-horizontal" id="form-search-history" name="form-search-history" role="form">
										<div class="row">
											<div class="col-md-4">
												<div class="form-inline">
													<label class="control-label col-sm-4">Từ ngày </label>
													<div class="col-sm-8 has-feedback" id="feedback-date">
														<input type="text" class="form-control datepicker"
															id="fromDate-history-take" name="fromDate-history-take" />
														<i
															class="glyphicon glyphicon glyphicon-calendar form-control-feedback blue"></i>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-inline">
													<label class="control-label col-sm-4">Đến ngày </label>
													<div class="col-sm-8 has-feedback" id="feedback-date">
														<input type="text" class="form-control datepicker"
															id="toDate-history-take" name="toDate-history-take" /> <i
															class="glyphicon glyphicon glyphicon-calendar form-control-feedback blue"></i>
													</div>
												</div>
											</div>
											<div class="col-md-2 col-md-offset-2">
												<div class="pull-right"
													style="margin-right: 10%; ">
													<button id="btnSearchHistory" type="button"
														class="btn btn-success" onclick="loadlistHistoryTake()">
														<i class="fa fa-search"></i>Lọc
													</button>
												</div>
											</div>
										</div>
									
									</form>
								</div>
								<input type="hidden" id="source_id" />
								<div class="table-bt table-vb">
									<table
										class="table table-bordered table-striped table-condensed table-hover"
										style="width: 100%;" id="table_data">
										<thead>
											<tr>
												<th style="width: 5%">STT</th>
												<th style="width: 25%">Mã đơn vị nhận</th>
												<th style="width: 40%">Đơn vị nhận</th>
												<th style="width: 30%">Ngày nhận</th>
											</tr>
										</thead>
										<tbody id="tbody_data_take">
										</tbody>
									</table>
									<div class="box-footer clearfix" id="paging_history"></div>
								</div>
							</div>

						</form>
					</div>
				</div>
				<div class="modal-footer" style="text-align: center"></div>
			</div>
		</div>
	</div>
</div>
<style>
.nav.nav-tabs {
	font-weight: bold;
}

#form-history-take .form-control.datepicker {
	padding-right: 1px;
	width: 100%;
}

#form-history-take {
	margin-bottom: 3%;
}

#send_history {
	margin-top: 3%;
}
</style>

