<script>
	/*<![CDATA[*/
			
	var paging = new Pagination();
	var pagingReceiver = new Pagination();

	$(document).ready(function() {
		$('#fromDate').datepicker({
			format : 'dd/mm/yyyy',
			firstDay : 1,
			onSelect : function(date) {
				setDatePicker($(this).datepicker('getDate'), false);
			}

		});
		$('#toDate').datepicker({
			format : 'dd/mm/yyyy',
			firstDay : 1,
			defaultDate : new Date()
		});
		
		setDatePicker(new Date(), true);
		registerEvents();
		loadList();
	});

	function setDatePicker(date, isSetStartDate) {
		var dayInMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0)
				.getDate();
		var firstMonthDay = new Date(date.getFullYear(), date.getMonth(), 1);
		var lastMonthDay = new Date(date.getFullYear(), date.getMonth(),
				dayInMonth);
		if (isSetStartDate) {
			$('#fromDate').datepicker('setDate', firstMonthDay);
			
		}
		$('#toDate').datepicker('setDate', lastMonthDay);
		
	}
	function formatdate(year, month, day, hours, minutes, seconds) {
		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;
		if (hours.length < 2)
			hours = '0' + hours;
		if (minutes.length < 2)
			minutes = '0' + minutes;
		if (seconds.length < 2)
			seconds = '0' + seconds;
		return [ year, month, day ].join('-') + " "
				+ [ hours, minutes, seconds ].join(':')
	}
	
	function styleStatusReceiver(statusText, statusId) {
		if (statusText == "Initial") {
			$('#' + statusId + '').css({
				'background-color' : '#33b0d5',
				'color' : '#fff'
			})
		}
		if (statusText == "Fail") {
			$('#' + statusId + '').css({
				'background-color' : '#c9302c',
				'color' : '#fff'
			})
		}
		if (statusText == "Processing") {
			$('#' + statusId + '').css({
				'background-color' : '#ec971f',
				'color' : '#fff'
			})
		}
		if (statusText == "Done") {
			$('#' + statusId + '').css({
				'background-color' : '#449d45',
				'color' : '#fff'
			})
		}
	}
	
	function registerEvents() {
		/*  $('#tbody_data').on('click', '.btn-view', viewDetail);
		$('#tbody_data').on('click', '.btn-edit', viewHistory); */
		//$('#tbody_data').on('click', '.btn-process', viewProcess); 
	};
	function loadListNews() {
		var html = '';
		$('#tbody_data').html(html);
		loadList();
	}

	var loadList = function() {
		paging.reset();
		loadPagingList();
	};
	var loadPagingList = function() {
	
		var page = paging.currentPage() || 1;
		var limit = paging.limit() || 10;
		
		var fromDate = $.datepicker.formatDate("yy-mm-dd", $("#fromDate")
				.datepicker("getDate"));
		var toDate = $.datepicker.formatDate("yy-mm-dd", $("#toDate")
				.datepicker("getDate"));
		
		var from_unit_code = $("#unit_id").val();

		getRequest({
			url : "/newsendTypeTodos/list?page=" + page + "&fromDate=" + fromDate
					+ "&toDate=" + toDate + "&limit=" + limit
					+ "&from_unit_code=" + from_unit_code,
			success : function(data) {
		
				cbloadListProfile(data);
				
			},
			error : function(e) {
			}
		});
	}
	function cbloadListProfile(data) {
	
		paging.init('paging', loadPagingList, data);
		
		var html = '';
		var list = data['content'];
		
		var size = paging.size() || 20;
		var number = paging.currentPage() || 1;
		number -= 1;
		
		var unit_name;
		
		for (var i = 0; i < list.length; i++) {
			
			var item = list[i];
			
			unit_name = item['name_unit'];
			if (item['unit_id'] == 0) {
				unit_name = '';
			}
			
			var date = new Date(item['creation_date']), month = ''
					+ (date.getMonth() + 1), day = '' + date.getDate(), year = date
					.getFullYear(), hours = '' + date.getHours(), minutes = ''
					+ date.getMinutes(), seconds = '' + date.getSeconds();
			var creation_date = formatdate(year, month, day, hours, minutes,
					seconds);
			
			html += '<tr onclick="viewDetail('+item['id']+')"><td style="text-align: center">'
					+ (i + 1 + (size * number))
					+ '</td>'
					+'<td style="text-align: center">'+item['id']+'</td>'
					+ '<td style="text-align: center">'
					+ item['from_unit_code']
					+ '</td></a>'
					+ '<td style="text-align: center" id="name_send_'+item['id']+'">'
					+ unit_name
					+ '</td>'
					+ '<td>'
					+ creation_date
					+ '</td>'
					+ '<td style="text-align: center" ><div class="body-display">'
					+ item['data']
					+ '</div></td>'
					+'</tr>';
		}
		$('#tbody_data').html(html);
	
	}
	
	 function openViewDetailModal() {
		$("#modalViewDetail").modal({
			backdrop : 'static',
			keyboard : false
		});
	}
	
	 function closeModalDetail()
		{
		 html = '';
		$('#tbody_data_receivers').html(html);
		pagingReceiver.reset();
		}
	 	
	
	function viewDetail(id) {
		openViewDetailModal();
		getRequest({
			url : "/news/" + id,
			success : function(data) {
				cbViewDetail(data);
			},
			error : function(e) {
			}
		}); 
	}
	 
	function cbViewDetail(data) {
		
		$('#id_news').text(data['id']);
		$('#id_unit_send').text(data['from_unit_code']);
		$('#news_type').text(data['type']);
	
		var name = $('#name_send_' + data['id'] + '').text();
		$('#name_unit_send').text(name);
		

		var date = new Date(data['creation_date']), month = ''
				+ (date.getMonth() + 1), day = '' + date.getDate(), year = date
				.getFullYear();
		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;
		var creation_date = [ day, month, year ].join('-');

		$('#date_send').text(creation_date);
		
		
		loadPagingReceivers(data['id']);
		openViewDetailModal();
	} 
	
	function loadPagingReceivers(id)
	{
		var page = paging.currentPage() || 1;
		var limit = paging.limit() || 10;
		
	
		getRequest({
			url : "/newsReceverByNewId/list?page=" + page +"&limit=" + limit
					+ "&news_id=" + id,
			success : function(data) {
		
				cbListNewsReceiver(data);
			},
			error : function(e) {
			}
		});
	}
	
	function cbListNewsReceiver(data)
	{
		pagingReceiver.init('paging_news_recever', loadPagingReceivers, data);
		
		var html = '';
		var list = data['content'];
		
		var size = paging.size() || 20;
		var number = paging.currentPage() || 1;
		number -= 1;
		
		var unit_name;
		
		for (var i = 0; i < list.length; i++) {
			
			var item = list[i];
			
			unit_name = item['name_unit_take'];
			if (item['unit_id'] == 0) {
				unit_name = '';
			}
			
			var date = new Date(item['received_date']), month = ''
					+ (date.getMonth() + 1), day = '' + date.getDate(), year = date
					.getFullYear(), hours = '' + date.getHours(), minutes = ''
					+ date.getMinutes(), seconds = '' + date.getSeconds();
			var received_date = formatdate(year, month, day, hours, minutes,
					seconds);
			
			html += '<tr><td style="text-align: center">'
					+ (i + 1 + (size * number))
					+ '</td>'
					+'<td style="text-align: center">'+item['to_unit_code']+'</td>'
					+ '<td style="text-align: center">'
					+ unit_name
					+ '</td></a>'
					+ '<td><p class="button_status" id="status_'+item['id']+'">'
					+ item['status']
					+ '</td></p>'
					+ '<td>'
					+ received_date
					+ '</td>'
					+'</tr>';
		}
		$('#tbody_data_receivers').html(html);
		stylestatus(data) ;
	}
	
	function stylestatus(data) {
		var list = data['content'];
		for (var i = 0; i < list.length; i++) {
			
			var item = list[i];
			
			var statusText = $('#status_' + item['id'] + '').text();
			var statusId="status_"+item['id'];
			styleStatusReceiver(statusText,statusId);
			
		}
	}

	
	
	/*]]>*/
</script>