<!--<script>-->
<!--    /*<![CDATA[*/-->

<!--    $(document).ready(function() {-->
<!--        $('#fromDate').datepicker({-->
<!--            format: 'dd/mm/yyyy',-->
<!--            firstDay: 1,-->
<!--            onSelect: function(date) {-->
<!--                setDatePicker($(this).datepicker('getDate'), false);-->
<!--            }-->

<!--        });-->
<!--        $('#toDate').datepicker({-->
<!--            format: 'dd/mm/yyyy',-->
<!--            firstDay: 1,-->
<!--            defaultDate: new Date()-->
<!--        });-->
<!--        setDatePicker(new Date(), true);-->
<!--        registerEvents();-->
<!--        //loadListLogReq();-->
<!--    });-->

<!--    function setDatePicker(date, isSetStartDate){-->
<!--        var dayInMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();-->
<!--        var firstMonthDay = new Date(date.getFullYear(), date.getMonth(), 1);-->
<!--        var lastMonthDay = new Date(date.getFullYear(), date.getMonth(), dayInMonth);-->
<!--        if(isSetStartDate){-->
<!--            $('#fromDate').datepicker('setDate', firstMonthDay);-->
<!--        }-->
<!--        $('#toDate').datepicker('setDate', lastMonthDay);-->
<!--    }-->

<!--    function formatdate(year, month, day) {-->
<!--        if (month.length < 2)-->
<!--            month = '0' + month;-->
<!--        if (day.length < 2)-->
<!--            day = '0' + day;-->
<!--        return [ year, month, day ].join('-');-->
<!--    }-->

<!--    var loadListHistory = function() {-->
<!--        paging.reset();-->
<!--        loadPagingListHistory();-->
<!--    };-->

<!--    var paging = new Pagination();-->

<!--    var loadPagingListHistory = function() {-->
<!--        var page = paging.currentPage()||1;-->
<!--        var limit = paging.limit()||10;-->
<!--        var fromDate = $.datepicker.formatDate("yy-mm-dd", $("#fromDate").datepicker("getDate"));-->
<!--        var toDate = $.datepicker.formatDate("yy-mm-dd", $("#toDate").datepicker("getDate"));-->

<!--        getRequest({-->
<!--            url : "/patients?page="+page+"&fromDate="+fromDate+"&toDate="+toDate+"&limit="+limit,-->
<!--            success : function(data) {-->
<!--                cbLoadListLogReq(data);-->
<!--            },-->
<!--            error : function(e) {-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function cbLoadListLogReq(data) {-->
<!--        paging.init('paging', loadPagingListHistory, data);-->
<!--        var html = '';-->
<!--        var list = data['content'];-->
<!--        var size = paging.size()||10;-->
<!--        var number = paging.currentPage()||1;-->
<!--        number -= 1;-->

<!--        for (var i = 0; i < list.length; i++) {-->
<!--            var item = list[i];-->

<!--            var date = new Date(item['created_time']), month = ''-->
<!--                + (date.getMonth() + 1), day = '' + date.getDate(), year = date-->
<!--                .getFullYear(), hours = '' + date.getHours(), minutes = ''-->
<!--                + date.getMinutes(), seconds = '' + date.getSeconds();-->

<!--            var created_time = formatdate(year, month, day, hours, minutes,-->
<!--                seconds);-->

<!--            html += '<tr><td>' + item['id'] + '</td>'-->
<!--                +'<td>'+ item['doctor_code']+ '</td>'-->
<!--                +'<td>'+ item['patients_code']+ '</td>'-->
<!--                +'<td>'+ item['diseases_code']+ '</td>'-->
<!--                +'<td>'+ created_time + '</td>'-->
<!--                +'<td>'+ item['description']+ '</td></tr>';-->
<!--        }-->
<!--        $('#tbody_data').html(html);-->
<!--    }-->
<!--    function resetFormModal() {-->
<!--        $('#fromDate').val('');-->
<!--        $('#toDate').val('');-->
<!--    }-->
<!--    function validateFormInput() {-->
<!--        $('#form-search').validate({-->
<!--            ignore: [],-->
<!--            errorElement: 'small',-->
<!--            errorClass: 'data-invalid help-block',-->
<!--            rules: {-->
<!--                fromDate: {-->
<!--                    required : false,-->
<!--                    date : true,-->
<!--                    dateITA : true,-->
<!--                    dateLessThan : '#toDate'-->
<!--                },-->
<!--                toDate: {-->
<!--                    required : false,-->
<!--                    date : true,-->
<!--                    dateITA : true,-->
<!--                    dateGreaterThan : "#fromDate"-->
<!--                }-->
<!--            },-->
<!--            messages: {-->
<!--                fromDate: {-->
<!--                    required: 'Sai định dạng ngày tháng'-->
<!--                },-->
<!--                toDate: {-->
<!--                    required: 'Sai định dạng ngày tháng'-->
<!--                }-->
<!--            },-->
<!--            onfocusout : function(element) {-->
<!--                if ($(element).val()) {-->
<!--                    $(element).valid();-->
<!--                }-->
<!--            },-->
<!--            invalidHandler: function (errorMap, validator) {-->
<!--                var errors = validator.numberOfInvalids();-->
<!--                if (!errors) {-->
<!--                    return;-->
<!--                }-->
<!--                validator.errorList[0].element.focus();-->
<!--                for(var i = 0; i < errors; i++) {-->
<!--                    var element = validator.errorList[0].element;-->
<!--                    if(element.id == 'toDate') {-->
<!--                        $(element).val($.trim($(element).val()));-->
<!--                        break;-->
<!--                    }-->
<!--                    if(element.id == 'fromDate') {-->
<!--                        $(element).val($.trim($(element).val()));-->
<!--                        break;-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--        }).resetForm();-->
<!--    }-->

<!--    /*]]>*/-->
<!--</script>-->