<script th:inline="javascript">
    /*<![CDATA[*/
    var paging = new Pagination();
    $(document).ready(function() {
        loadListHistory();
    });

    var loadListHistory = function() {
        paging.reset();
        loadListPagingHistory();
    };

    function loadListPagingHistory() {
        var page = paging.currentPage()||1;
        var limit = paging.limit()||10;

        getRequest({
            url : "/patients?page=" + page+"&limit="+limit,
            success : function(data) {
                cbLoadListPagingHistory(data);
            },
            error : function(e) {

            }
        });
    }

    function searchDoctor()
    {
        var code=$('#txt_name').val();

        var page = paging.currentPage() || 1;
        var limit = paging.limit()||10;

        getRequest({
            url : "/patients/search?page=" + page+"&limit="+limit+"&doctor_code="+ code,
            success : function(data) {
                cbLoadListPagingHistory(data);
            },
            error : function(e) {

            }
        });

    }

    function cbLoadListPagingHistory(data) {
        paging.init('paging', loadListPagingHistory, data);
        var list = data['content'] || [];
        if (list.length == 0) {
            $('#tbody_data')
                .html(
                    '<td colspan="100%" style="text-align: center">Không có dữ liệu</td>');
            return;
        }
        var html = '';
        var size = paging.size() || 10;
        var number = paging.currentPage() || 1;
        number -= 1;
        for (var i = 0; i < list.length; i++) {
            var item = list[i];
            html += '<tr><td style="text-align: center">'
                + (i + 1 + (size * number))
                + '</td><td>'
                + item['doctor_code']
                + '</td><td>'
                + item['patients_code']
                + '</td><td>'
                + item['diseases_code']
                + '</td><td>'
                + item['create_time']
                + '</td><td>'
                + item['description']
                + '</td></tr>';
        }
        $('#tbody_data').html(html);
    }
    /*]]>*/
</script>