<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		loadLayout();
	});
	function loadLayout() {
		var username =$('#username').text();
		getRequest({
			url : "/user/userinfo/?username="+username,
			success : function(data) {
				loadNameUser(data);
			},
			error : function(e) {
				new Toast('error', e['message']);
			}
		});
	}
	function loadNameUser(data) {
		
		 $('#unit_id_info').val(data['unit_id']);
		var unit_id = $('#unit_id_info').val();  
		loadInfoApi(data['unit_id']);
	}
	function loadInfoApi(unit_id) {
		var id=unit_id;
		getRequest({
			url : "/units/" + id,
			success : function(data) {
				loadApiDisplay(data);
				
			},
			error : function(e) {
				new Toast('error', e['message']);
			}
		});
	}
	function loadApiDisplay(data)
	{
		/* $('#api_info').val(data['apis']);
		var string = $('#api_info').val(); */
		var a = data['apis'].split(",");
		var html='';
		for (var i = 1; i < a.length; i++) {
			html +='<li id="mn_'+a[i]+'_unit"><a href="/'+a[i]+'logreq" id="kn_'+a[i]+'"><i class="fa fa-folder" style="font-size: 14px"></i>Kết nối '+a[i]+'</a></li>';
		}
		$('#menu_unit').html(html);
	}

	/*]]>*/
</script>