<script th:inline="javascript">
    /*<![CDATA[*/
    // CODE HERE

    var paging = new Pagination();
    $(document).ready(function() {
    	$("#modalCreate").on("show.bs.modal", function() {
    		configFormInput();
			validateFormInput();
		});
    	$("#modalCreate").on("hidden.bs.modal", function() {
			resetFormModal();
		});
    	$("#modalEdit").on("show.bs.modal", function() {
    		$('#status_edit').val("0");
			validateFormInputEdit();
		});

        loadListUsers();
        loadUnitCombobox();
        registerEvents();
    });
    function resetFormModal() {
    	
    	$('#firstname').val('');
    	$('#lastname').val('');
		$('#accountname').val('');
		$('#password').val('');
		$('#modal_hidden_id').val('');
		$('#status').val('');
		$('#re_password').val('');
		$('#email').val('');
		 $('#re_password').css({'border':'1px solid #d2d6de'});
	}
    function openAddModal() {
		$("#modalCreate").modal({
			backdrop : 'static',
			keyboard : false
		});
	}
    function openAddModalEdit() {
		$("#modalEdit").modal({
			backdrop : 'static',
			keyboard : false
		});
	}
    //load list users to table
    var loadListUsers = function() {
        var page = paging.currentPage()||1;
        var limit = paging.limit()||10;
        getRequest({
            url : "/users?page="+page+"&limit="+limit,
            success : function(data) {
                cbLoadListUsers(data);
            },
            error : function(e) {

            }
        });
    }
	function registerEvents() {
		$('#tbody_data').on('click', '.btn-edit', viewEditUser);
	};
	function viewEditUser() {
		var id = $(this).attr('data-id') || 0;
		if (id == 0) {
			return;
		}
		getRequest({
			url : "/users/" + id,
			success : function(data) {
				cbViewEditUser(data);
			},
			error : function(e) {
				new Toast('error', e['message']);
			}
		});
	}
	function cbViewEditUser(data) {
		
		$('#modal_hidden_id_edit').val(data['id']);
		$('#username_edit').val(data['username']);
		$('#firstname_edit').val(data['firstName']);
		$('#lastname_edit').val(data['lastName']);
		$('#cb_unit_edit').val(data['unit_id']);
		$('#email_edit').val(data['email']);
		
		openAddModalEdit();
	}

    function cbLoadListUsers(data) {
        paging.init('paging', loadListUsers, data);
        var html = '';
        var list = data['content'];
        var size = paging.size()||5;
        var number = paging.currentPage()||1;
        number -= 1;

        var id;
        var enabled;
        var email;
        var unit_name;

        for (var i = 0; i < list.length; i++) {
            var item = list[i];

            id = item['id'];
            unit_name = item['unit_name'];
            if (item['unit_id'] == 0||item['unit_id']==null) {
                unit_name = '';
            }
            if (item['email'] == null) {
                email = ''
            } else {
                email = item['email']
            }

            if (item['enabled']) {
                enabled = 'Yes'
            } else {
                enabled = 'No'
            }
            html += '<tr><td style="text-align: center">' + (i +1+ (size*number)) + '</td><td>' + item['name'] + '</td>'
            	+'<td style="text-align: center">'+item['username']+'</td>'
           		+'<td>' + item['email'] + '</td>'
          	  	+'<td style="text-align: center">'
                + unit_name + '</td>'
                +'<td>'+item['role']+'</td>'
          	  	+'<td style="text-align: center"><button onclick="enableKey('+ id +')">'
                + enabled + '</button></td>'
                + '<td style="text-align: center"><a title="Sửa" class="btn-edit" data-id="'+item['id']+'" style="margin-left: 5px;"><i class="fa fa-edit fa-action" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;'
                +'<a class="glyphicon glyphicon-trash" onclick="deleteUser('+ id +')"></a>&nbsp;&nbsp;<a class="fa fa-key" onclick="changeKey('+id+')"></a></td></tr>'
        }
        $('#tbody_data').html(html);
    }

    function loadUnitNameById(unit_id) {
        if (unit_id == 0) {
            return
        }
        getRequest({
            url : "/units/"+unit_id,
            success : function(data) {
                return data.unit_name;

            },
            error : function(e) {

            }
        });
    }
    //change Key enable
    function enableKey(id) {
        if (id == 0){
            return;
        }
        getRequest({
            url : "/users/"+id,
            success : function(data) {
                mapDataEnable(data);
            },
            error : function(e) {

            }
        });
    }
    function mapDataEnable(data) {
    	//update user haven't md5 password
    	var status=0;
        var id = data['id'];
        var firstname = data['firstName'];
        var lastname = data['lastName'];
        var username = data['username'];
        var password = data['password'];
        var unit_id = data['unit_id'];
        var roles;
        var enabled;
        
        if (data['enabled']) {
            enabled = 0
        } else {
            enabled = 1
        }
        
        var email = data['email'];
        var created_date = data['created_date'];
        var updated_date = data['updated_date'];
        
        var data = {id: id, firstName: firstname, lastName: lastname, username: username, password: password, unit_id: unit_id, enabled: enabled, email: email, created_date: created_date, updated_date: updated_date };
        postRequest({
            data: data,
            url : "/user?status="+status+"&roles="+roles,
            success : function(data) {
                loadListUsers();
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }

    //delete user
    function deleteUser(id) {
        if(id == 0){
            return;
        }
        dialogConfirm({
            callback: function () {
                deleteRequest({
                    url : "/users/delete/"+id,
                    success : function(data) {
                        new Toast('success', 'Xóa thành công!');
                        loadListUsers();
                    },
                    error : function(e) {
                        new Toast('error', e['message']);
                    }
                });
            }
        });
    }
    function formatFormChangePass()
    {
    	 $('#new_password').val('');
         $('#new_re_password').val('');
         $('#new_re_password').css({'border':'1px solid #d2d6de'});
    }
    //change password
    function changeKey(id) {
    	formatFormChangePass();
        openForm(id);
        $('#userId').val(id);
        $("#changeKeyModal").on("show.bs.modal", function () {
            $('#new_password').focus();
            $('#new_re_password').focus();
        });
    }
    function closeForm() {
        $('#changeKeyModal').modal('toggle');
    }
    function openForm(formId) {
        $('#changeKeyModal').modal('show');
        valueFormChangePass();
      //  $('#password').val(formId);
    }
    function saveChangeKey(id) {
        if (id == 0){
            return;
        }
        var er=$('#error_new_pass').val();
        if(er!="")
        	{
        	return;
        	}
        var validated = $("#form-changepass").valid();
		if (!validated) {
			return;
		}
        getRequest({
            url : "/users/"+id,
            success : function(data) {
                mapDataChangeKey(data);
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }
    function mapDataChangeKey(data) {
    	//update user have md5 password
    	var status=2;
        var id = data['id'];
        var firstname = data['firstName'];
        var lastname = data['lastName'];
        var username = data['username'];
        var password = $('#new_password').val().trim();
        var unit_id = data['unit_id'];
        var roles;
        var enabled = data['enabled'];
        var email = data['email'];
        var created_date = data['created_date'];
        var updated_date = data['updated_date'];
        var data = {id: id,firstName: firstname, lastName: lastname, username: username, password: password, unit_id: unit_id, enabled: enabled, email: email, created_date: created_date, updated_date: updated_date };
        postRequest({
            data: data,
            url : "/user?status="+status+"&roles="+roles,
            success : function(data) {
                new Toast('success', 'Lưu thành công!');
                $('#changeKeyModal').modal('toggle');
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }
    // search list users by unit
    var loadUnitCombobox = function () {
        getRequest({
            url : "/units/list",
            success : function(data) {
                cbLoadUnitsCombobox(data);
            },
            error : function(e) {

            }
        });
    }
    function cbLoadUnitsCombobox(data) {
        var html = '';
        var html1 = '';
        html1+='<option value="all">Tất cả</option>';
        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            html += '<option value="'+ item['id'] +'">' + item['unit_name'] + '</option>';
            html1 += '<option value="'+ item['id'] +'">' + item['unit_name'] + '</option>';
        }
        $('#cb_units').html(html1);
        $('#cb_unit').html(html);
        $('#cb_unit_edit').html(html);
    }
    function ChangeSelect()
    {
    	var unit_id = $('#cb_units').val()
    	if(unit_id=="all")
    		{
    		loadListUserByUnit()
    		}
    	else
    		{
    		  getRequest({
    	  			url : "/units/" + unit_id,
    	  			success : function(data) {
    	  				$('#hidden_name_unit').val(data['unit_name']);
    	  				loadListUserByUnit();
    	  			},
    	  			error : function(e) {
    	  				new Toast('error', e['message']);
    	  			}
    	  		});
    		}
    }
    function loadListUserByUnit() {
        var unit_id = $('#cb_units').val()
        if(unit_id=="all")
        	{
        	loadListUsers()
        	}
        else
        	{
        	 var page = paging.currentPage()||1;
 	        var limit = paging.limit()||10;
        	 getRequest({
        		 
                 url : "/users/group?unit_id="+unit_id+"&page="+page+"&limit="+limit,
                 success : function(data) {
                     loadUserFollowCB(data);
                   
                 },
                 error : function(e) {

                 }
             });
        	} 
    }
 
    function loadUserFollowCB(data) {
    	var name_unit=$('#hidden_name_unit').val().trim();
        paging.init('paging', loadListUsers, data);
        var html = '';
        var id;
        var enabled;
        var email;
        var list = data['content'];
        var size = paging.size()||5;
        var number = paging.currentPage()||1;
        number -= 1;
      
        for (var i = 0; i < list.length; i++) {
            var item = list[i];
            id = item['id'];
           
            if (item['email'] == null) {
                email = ''
            } else {
                email = item['email']
            }
            if (item['enabled']) {
                enabled = 'Yes'
            } else {
                enabled = 'No'
            }
            html += '<tr><td style="text-align: center">' + (i +1+ (size*number)) + '</td><td>' + item['username']+ '</td><td>'
                +  name_unit + '</td><td style="text-align: center">'
                + item['user_type'] + '</td><td style="text-align: center"><button onclick="enableKey('+ id +')">'
                + enabled + '</button></td><td>'
                + item['email'] + '</td><td style="text-align: center"><a class="glyphicon glyphicon-edit" href="/users/edit/'+id+'"></a>&nbsp;&nbsp; <a class="glyphicon glyphicon-trash" onclick="deleteUser('+ id +')"></a>&nbsp;&nbsp;<a class="fa fa-key" onclick="changeKey('+ id +')"></a></td></tr>'
                
        }
        $('#tbody_data').html(html);
    }
    
    //save  users
	function save(flag) {
		var validated = $("#form-info").valid();
		if (!validated) {
			return;
		}
		var er=$('#error_pass').val();
		if(er!="")
			{
			return;
			}
	
		var firstname = $('#firstname').val().trim();
		var lastname = $('#lastname').val().trim();
		var username = $('#accountname').val().trim();
		var password = $('#password').val().trim();
		var unit_id = $('#cb_unit').val();
		var roles = $('#user_type').val().trim();
		var email = $('#email').val().trim();
		var id = $('#modal_hidden_id').val().trim();
		var status = $('#status').val().trim();

		var data = {
			firstName:firstname,
			lastName:lastname,
			username : username,
			password : password,
			unit_id:unit_id,
			user_type:user_type,
			email:email,
		};
		if (id) {
			data['id'] = id;
		}
		postRequest({
			data : data,
			url : "/user?status="+status+"&roles="+roles,
			success : function(data) {
				if (id || flag) {
					closeFormCreate();
				} else {
					$('#username').focus();
					$('#password').focus();
					$('#email').focus();
					resetFormModal();
				}
				loadListUsers();
				new Toast('success', 'Lưu thành công!');
			},
			error : function(e) {
				new Toast('error', e['message']);
			}
		});
	}
	function savechange(flag) {
		var validated = $("#form-info-edit").valid();
		if (!validated) {
			return;
		}
		var firstname = $('#firstname_edit').val().trim();
		var lastname = $('#lastname_edit').val().trim();
		var username = $('#username_edit').val().trim();
		var unit_id = $('#cb_unit_edit').val();
		var roles;
		var email = $('#email_edit').val().trim();
		var id = $('#modal_hidden_id_edit').val().trim();
		var status = $('#status_edit').val().trim();
		var data = {
			firstName:firstname,
			lastName:lastname,
			username : username,
			unit_id:unit_id,
			email:email,
		};
		if (id) {
			data['id'] = id;
		}
		postRequest({
			data : data,
			url : "/user?status="+status+"&roles="+roles,
			success : function(data) {
				if (id || flag) {
					closeFormEdit();
				} 
				loadListUsers();
				new Toast('success', 'Lưu thành công!');
			},
			error : function(e) {
				new Toast('error', e['message']);
			}
		});
	}
	
	 function closeFormEdit() {
			$('#modalEdit').modal('toggle');
		}
	   function closeFormCreate() {
			$('#modalCreate').modal('toggle');
		}
	   function configFormInput() {
			var id = $('#modal_hidden_id').val().trim();
			if (id) {
				$('#btn_save_close').hide();
				$('.modal-title').html('Sửa thông tin người dùng');
				$('#status').val("0");
				$('#pass').css({'display':'none'});
				$('#re_pass').css({'display':'none'});
			} else {
				$('#btn_save_close').show();
				$('.modal-title').html('Thêm mới người dùng');
				$('#status').val("1");
				$('#pass').css({'display':'block'});
				$('#re_pass').css({'display':'block'});
			}
		}
	   //kiểm tra nhập re_password giống pass
	   function passwordlike()
	   {
		   if($('#re_password').val()!= $('#password').val())
			   {
			   $('#error_pass').val("password chưa trùng khớp!");
			   $('#error_pass').css({'display':'block'});
			   $('#re_password').css({'border':'1px solid red'});
			   }
		   else
			   {
			   $('#error_pass').val("");
			   $('#error_pass').css({'display':'none'});
			   $('#re_password').css({'border':'1px solid #00CC00'});
			   }
	   }
	 //kiểm tra nhập new_re_password giống new_pass
	   function newpasswordlike()
	   {
		   if($('#new_re_password').val()!= $('#new_password').val())
			   {
			   $('#error_new_pass').val("password chưa trùng khớp!");
			   $('#error_new_pass').css({'display':'block'});
			   $('#new_re_password').css({'border':'1px solid red'});
			   }
		   else
			   {
			   $('#error_new_pass').val("");
			   $('#error_new_pass').css({'display':'none'});
			   $('#new_re_password').css({'border':'1px solid #00CC00'});
			   }
	   }
	
    /*]]>*/
</script>