<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">FPT Polytechnicy</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css"/>
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css" />
    <!-- Morris chart -->
    <link rel="stylesheet" href="/plugins/morris/morris.css"/>
    <!-- jvectormap -->
    <link rel="stylesheet" href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css"/>
    <!-- Date Picker -->
    <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css"/>
    <!-- DateTime Picker -->
    <link rel="stylesheet" href="/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"/>
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker-bs3.css"/>
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"/>
    <link rel="stylesheet" href="/plugins/toast/toastr.min.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap-multiselect/bootstrap-multiselect.css"/>
    <!-- Tree Grid -->
    <link rel="stylesheet" href="/plugins/tree-grid/jquery.treegrid.css"/>
    
   
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- jQuery 2.2.0 -->
    <script src="/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
   <!--  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/plugins/jquery-validate/dist/jquery.validate.min.js"></script>
    <script src="/plugins/toast/toastr.min.js"></script>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <script src="/js/common.js"></script>
    <script src="/js/paging.js"></script>
    <!-- <link href="/plugins/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/plugins/froala-editor/js/froala_editor.pkgd.min.js"></script> -->
    <script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/plugins/chartjs/Chart.min.js"></script>
     
    <!-- line char -->
    <script src="/linechar/analytics.js"></script>
    <script src="/linechar/Chart.min.js"></script>
    <script  src="/linechar/utils.js"></script>
    
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
     <div th:replace="fragments/header"></div>
    </header>
    <!-- Left side column. contains the logo and sidebar -->

    <aside class="main-sidebar">
     <div th:replace="fragments/mainsidebar"></div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" layout:fragment="header"></section>

        <!-- Main content -->
        <section class="content">
            <div th:if="${successFlash != null}" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p th:text="${successFlash}"></p>
            </div>

            <div th:if="${errorFlash != null}" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p th:text="${errorFlash}"></p>
            </div>

            <div th:if="${infoFlash != null}" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p th:text="${infoFlash}"></p>
            </div>
            <div layout:fragment="content"></div>
        </section>
        <!-- /.content -->
        <section>
        <div style="display: none">
		<input type="text" id="unit_id_info" />
		<input type="text" id="api_info"/>
	</div></section>
    </div>
    
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Hospital management system</strong>
    </footer>
    <style>
     #has-padding {
    padding: 3%;
}
    #toast-container
    {
    top:12px;
    }
    .content{
    background-color:#fff;
    }
    .skin-blue .content-header
    {
     background-color:#fff;
    }
   #feedback-date
   {
   background-color:#fff;
   }
   .response-scroll {
	height: 250px;
	overflow: scroll;
}
    </style>
</div>
<!-- ./wrapper -->

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/morris/morris.min.js"></script>
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/plugins/knob/jquery.knob.js"></script>
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/moment/locale/vi.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/plugins/validator.min.js"></script>
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/fastclick/fastclick.js"></script>
<script src="/dist/js/app.min.js"></script>
<script src="/plugins/bootbox.all.min.js"></script>
<script src="/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/plugins/tree-grid/jquery.treegrid.min.js"></script>
</body>
</html>