<script th:inline="javascript">
    /*<![CDATA[*/
    var paging = new Pagination();
    $(document).ready(function() {
        $("#modalCreate").on("show.bs.modal", function() {
            configFormInput();
            validateFormInput();
        });

        $("#modalCreate").on("shown.bs.modal", function() {
            $('#diseases_code').focus();
        });

        $("#modalCreate").on("hidden.bs.modal", function() {
            resetFormModal();
        });
        registerEvents();
        loadListDiseases();

    });

    function openAddModal() {
        $("#modalCreate").modal({
            backdrop : 'static',
            keyboard : false
        });
    }

    var loadListDiseases = function() {
        paging.reset();
        loadListPagingDiseases();
    };

    function loadListPagingDiseases() {
        var page = paging.currentPage()||1;
        var limit = paging.limit()||10;

        getRequest({
            url : "/diseases?page=" + page+"&limit="+limit,
            success : function(data) {
                cbLoadListPagingDiseases(data);
            },
            error : function(e) {

            }
        });
    }

    function search()
    {
        var name=$('#txt_name').val();

        var page = paging.currentPage() || 1;
        var limit = paging.limit()||10;

        getRequest({
            url : "/diseases/search?page=" + page+"&limit="+limit+"&name="+ name,
            success : function(data) {
                cbLoadListPagingDiseases(data);
            },
            error : function(e) {

            }
        });

    }

    function cbLoadListPagingDiseases(data) {
        paging.init('paging', loadListPagingDiseases, data);
        var list = data['content'] || [];
        if (list.length == 0) {
            $('#tbody_data')
                .html(
                    '<td colspan="100%" style="text-align: center">Không có dữ liệu</td>');
            return;
        }
        var html = '';
        var size = paging.size() || 10;
        var number = paging.currentPage() || 1;
        number -= 1;
        for (var i = 0; i < list.length; i++) {
            var item = list[i];
            html += '<tr><td style="text-align: center">'
                + (i + 1 + (size * number))
                + '</td><td>'
                + item['diseases_code']
                + '</td><td>'
                + item['name']
                + '</td><td>'
                + item['description']
                + '</td><td style="text-align: center">'
                + '<a title="Sửa" class="btn-edit" data-id="' + item['id'] + '" style="margin-left: 10px;"><i class="fa fa-edit fa-action" aria-hidden="true"></i></a>'
                + '<a title="Xóa" class="btn-delete" data-id="' + item['id'] + '" style="margin-left: 10px;"><i class="fa fa-times fa-action" aria-hidden="true"></i></a></td>'
                + '</tr>';
        }
        $('#tbody_data').html(html);
    }
    function tb() {
        alert("ok");
    }
    function save(flag) {
        var validated = $("#form-info").valid();
        if (!validated) {
            return;
        }
        var diseases_code = $('#diseases_code').val().trim();
        var diseases_name = $('#diseases_name').val().trim();
        var diseases_description = $('#diseases_description').val().trim();
        var id = $('#modal_hidden_id').val().trim();
        var data = {
            diseases_code : diseases_code,
            name : diseases_name,
            description: diseases_description
        };
        if (id) {
            data['id'] = id;
        }
        postRequest({
            data : data,
            url : "/diseases",
            success : function(data) {
                if (id || flag) {
                    closeForm();
                } else {
                    $('#diseases_code').focus();
                    $('#diseases_name').focus();
                    $('#diseases_description').focus();
                    resetFormModal();
                }
                loadListDiseases();
                new Toast('success', 'Lưu thành công!');
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }

    function closeForm() {
        $('#modalCreate').modal('toggle');
    }

    function resetFormModal() {
        $('#diseases_code').val('');
        $('#diseases_name').val('');
        $('#diseases_description').val('');
        $('#modal_hidden_id').val('');
    }

    function validateFormInput() {
        $('#form-info').validate({
            ignore : [],
            errorElement : 'small',
            errorClass : 'data-invalid help-block',
            rules : {
                diseases_name: {
                    required : true,
                    maxlength : 50,
                    minlength : 2,
                },
                diseases_code : {
                    required : true,
                    maxlength : 20,
                    minlength : 2,
                    regex : '^[0-9a-zA-Z\.\-]+$',
                }
            },
            messages : {
                diseases_name : {
                    required : 'Tên bệnh không được để trống',
                    maxlength : 'Tên bệnh không được vượt quá 50 ký tự',
                    minlength : 'Tên bệnh không được dưới 6 ký tự',
                },
                diseases_code : {
                    required : 'Mã bệnh không được để trống',
                    maxlength : 'Mã bệnh không được vượt quá 20 ký tự',
                    minlength : 'Mã bệnh  không được dưới 2 ký tự',
                    regex : 'Mã bệnh chỉ chứa chữ cái, chữ số và dấu chấm'
                }
            }
        }).resetForm();
    }

    function registerEvents() {
        $('#tbody_data').on('click', '.btn-edit', viewEditDiseases);
        $('#tbody_data').on('click', '.btn-delete', deleteDiseases);

    };

    function deleteDiseases() {
        var id = $(this).attr('data-id') || 0;
        if (id == 0) {
            return;
        }
        dialogConfirm({
            callback : function() {
                deleteRequest({
                    url : "/diseases/" + id,
                    success : function(data) {
                        loadListDiseases();
                        new Toast('success', 'Xóa thành công!');
                    },
                    error : function(e) {
                        new Toast('error', e['message']);
                    }
                });
            }
        });
    }
    function viewEditDiseases() {
        var id = $(this).attr('data-id') || 0;
        if (id == 0) {
            return;
        }
        getRequest({
            url : "/diseases/" + id,
            success : function(data) {
                cbViewEditDiseases(data);
            },
            error : function(e) {
                new Toast('error', e['message']);
            }
        });
    }
    function cbViewEditDiseases(data) {
        $('#modal_hidden_id').val(data['id']);
        $('#diseases_name').val(data['name']);
        $('#diseases_code').val(data['diseases_code']);
        $('#diseases_description').val(data['description']);
        openAddModal();
    }

    function configFormInput() {
        var id = $('#modal_hidden_id').val().trim();
        if(id) {
            $('#btn_save_close').hide();
            $('.modal-title').html('Sửa thông tin bệnh');
        } else {
            $('#btn_save_close').show();
            $('.modal-title').html('Thêm mới bệnh');
        }
    }

    /*]]>*/
</script>